@import url('https://fonts.googleapis.com/css?family=Raleway:400,600i,900|Roboto:300,400,700,900');
body {
	margin: 0;
}
.contaner-fullwidth {
	width: 100%
}
.container {
	max-width: 1198px;
	margin: 0 auto;
	width: 100%;
	position: relative;
}
/*Black_white section*/
#Black_white {
	height: 865px;
	background-color: #eeeeee;
}
header {
	height: 84px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	background-color: #eeeeee;
}
h1.logo, nav, p, input {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
h1.logo {
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 0.7em;
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	letter-spacing: 0.025em;
}
nav {
	position: absolute;
	bottom:0;
	right: 0;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.025em;
}
a {
	color: black;
}
nav a:nth-child(2) {
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
}
#Black_white div.container {
	height: 781px;
	/*background-color: green;*/
}
.slide_text {
	display: inline-block;
	width: 615px;
	position: relative;
	z-index: 1;
}
p.slide_title {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 150px;
	line-height: 150px;
	text-transform: uppercase;
	padding-top: 105px;
	text-align: right;
	letter-spacing: 0.025em;
}
p.text {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 24px;
	text-align: right;
	line-height: 36px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.slide_text div:last-child {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}
#View_project {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: red;
	letter-spacing: 0.025em;
	text-decoration: none;
}
div.slide_image {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	height: 695px;
	width: 767px;
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgb(254,254,254) 20%, rgb(244,244,244) 66%, rgb(244,244,244) 66%, rgb(244,244,244) 66%, rgb(244,244,244) 66%, rgb(244,244,244) 84%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgb(254,254,254) 20%,rgb(244,244,244) 66%,rgb(244,244,244) 66%,rgb(244,244,244) 66%,rgb(244,244,244) 66%,rgb(244,244,244) 84%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgb(254,254,254) 20%,rgb(244,244,244) 66%,rgb(244,244,244) 66%,rgb(244,244,244) 66%,rgb(244,244,244) 66%,rgb(244,244,244) 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
div.slide_image img {
	position: absolute;
	right: 15%;
	top: 16%;
}
div.dots {
	width: 100%;
	height: 85px;
	text-align: center;
	position: absolute;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	box-sizing: border-box;
	display: inline-block;
	height: 11px;
	width: 11px;
	border-radius: 50%;
	background-color: #303030;
	margin: 70px 4px 4px 4px;
	vertical-align: bottom;
}
/*Featured_product section*/
#Featured_product {
	height: 1193px;
	background-color: #eeeeee;
	text-align: center;
}
#Featured_product .container {
	background-color: #ffffff;
	height: 1193px;
	position: relative;
}
h1.section_title {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 48px;
	padding-top: 114px;
	padding-bottom: 14px;
	line-height: 1em;
}
.section_text p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	width: 585px;
	line-height: 1.5em;
}
.gallery {
	width: 1058px;
	height: 810px;
	margin: 0 auto;
	margin-top: 72px;
	margin-bottom: 72px;
	position: relative;
}
.gallery_item:first-child {
	display: inline-block;
	background-image: url('asset/speaker-pill-white-standard-thrqrtleft.png');
	background-repeat: no-repeat;
	width: 692px;
	height: 387px;
	position: absolute;
	left: 0;
	top: 0;
}
.gallery div:nth-child(2) {
	display: inline-block;
	background-image: url('asset/beats-by-dre-studio-red-highdefinition-headphones.png');
	background-repeat: no-repeat;
	width: 328px;
	height: 387px;
	position: absolute;
	right: 0;
	top: 0;
}
.gallery div:nth-child(3) {
	display: inline-block;
	background-image: url('asset/Rectangle.png');
	background-repeat: no-repeat;
	width: 328px;
	height: 387px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.gallery div:nth-child(4) {
	display: inline-block;
	background-image: url('asset/Casual-Shoes-For-Men-2.png');
	background-repeat: no-repeat;
	width: 328px;
	height: 387px;
	position: absolute;
	bottom: 0;
	left: 364px;
}
.gallery_item:nth-child(5) {
	display: inline-block;
	background-image: url('asset/tumblr.png');
	background-repeat: no-repeat;
	width: 328px;
	height: 387px;
	position: absolute;
	right: 0;
	bottom: 0;
}
/*Hover effect*/
.cover_bg {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.cover_title {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.gallery_item:hover .cover_bg,
.gallery_item:hover .cover_title {
	display: block;
}
.cover_bg {
	background-color: red;
}
.cover_title {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 30px;
	text-align: left;
	text-decoration: underline;
}
